html {
    scroll-behavior: smooth;
  }

body {
    /** PLACEMENT **/
    background-image: url('/images/background-light.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow-x : hidden;
    margin: 0;
    padding: 0;
}

body.dark {
    background-image: url('/images/background.png')!important; /* Charge une image pour la mettre en fond */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff!important;
}

    body.dark .icons {
        filter: invert(100%);
    }

    body.dark .quality-icon {
       filter: invert(100%);
    }

    body.dark .header {
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        color: #fff;
    }

    body.dark .header-fixed {
        color: #fff;
        background-color: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.15); /* Facultatif : ajoutez une ombre si nécessaire */
    }

    body.dark .title h2 {
        color: #fff;
    }

    body.dark .menu {
    border: solid #fff;
    background-color: #000;
    color: #fff;
    }

    body.dark .menu a {
        color: #fff;
    }

    body.dark .circle-button {
        box-shadow: 0px 0px 38px rgba(255, 255, 255, 2);
    }

    body.dark .photo {
        filter: drop-shadow(0 0 0.55rem rgb(255, 255, 255, 2));
    }

    body.dark .qualities {
        background-color: #000;
    }

.main-content {
    position: relative;
    max-width: auto;
}

h2 {
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

/* .logo {
    width: 1.875rem;
    height: 1.875rem;
} */

.photo {
    border-radius: 1.875rem;
    filter: drop-shadow(0 0 0.75rem rgb(4, 4, 4));
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 3rem;
    height: 3rem;
}

.favicon {
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    height: 4rem;
}

.gitIcon {
    clip-path: circle(40%);
    width: 3rem;
    height: 3rem;
}

.typo-ar-onesans {
    font-family: 'AR One Sans', sans-serif;
    width: auto;
}

.typoTitres {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
}

.typoTitreSpeech {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}
/*! LOADER !*/
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.dark-background {
    background: #000000; /* Changez la couleur de fond sombre souhaitée ici */
}

.lettre {
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}
@keyframes flash {
    0% {
        color: #c175ff;
        text-shadow: 0 0 7px #c175ff;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100%{
        color: #c175ff;
        text-shadow: 0 0 7px #c175ff;
    }
}
.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

/*! HEADER !*/

.header {
    /** PLACEMENT **/
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    transition: top 1s ease; /* Ajoutez une transition sur la propriété "top" */
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 1);
    backdrop-filter: blur(5px);
    z-index: 3;
}

.title {
    width: 17.813rem;
    height: auto;
}

.prenom {
    color: #c175ff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    gap: 1.5rem;
    padding: 0;
    width: 285px
}

/*! Dark mode btn !*/
.circle-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #c175ff; /* Couleur de fond du bouton (soleil) */
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles pour l'icône */
.icon {
    color: #fff; /* Couleur de l'icône (soleil) */
    transition: transform 0.3s;
}

.mini-menu {
    display: none;
}

.menu {
    /** PLACEMENT **/
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 17.438rem;
    padding-left: 0px;

    /** DECORATION **/
    border: solid grey;
    background-color: #F0F0F2;
    border-radius: 2.188rem;
}

.menu-word {
    /** PLACEMENT **/
    margin-right: 0.313rem;
    margin-left: 0.313rem;
    margin-top: 0.313rem;
    margin-bottom: 0.313rem;
    list-style-type : none;
    padding: 0.625rem 0.625rem;
    border-radius: 2.5rem;
}

.accueil.active,
.travaux.active,
.a-propos.active {
    background-color: #c175ff;
}


/*! MAIN */

.left-part {
    width: 500px;

}

.presentation {
    /** PLACEMENT **/
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 5%;
    font-size: x-large;
    margin-top: 5rem;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
}

.qualities {
    /** PLACEMENT **/
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: auto;
    font-size: larger;
    margin-top: 12.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    background-color: #fff;
}

.qualities-list {
    /** PLACEMENT **/
    display: flex;
    flex-direction: row;
    list-style-type : none;
    margin-top: 0;
    margin-bottom: 0;
    border: solid;
    padding-left: 0rem;
    justify-content: space-between;
}

.qualities-word {
    text-align: center;
    margin-left: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
    margin-right: 2.5rem;
}

.quality-icon {
    width: 3.75rem;
    height: 3.75rem;
}

.work-title { 
    display: flex;
    flex-direction: column;
    font-size: larger;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.my-work {
    /** PLACEMENT **/
    justify-content: center;
    font-size: larger;
    margin-top: 12.5rem;
}

@media only screen and (min-device-width : 0px) and (max-device-width : 850px){
    .lettre {
        font-size: auto; /* Adjust font size for smaller screens */
        letter-spacing: 6px; /* Adjust letter spacing for smaller screens */
        margin-bottom: 10px; /* Adjusted margin for responsiveness */
    }
    
    .menu {
        display: none;
    }

    .mini-menu {
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        justify-content: center;
        align-items: end;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .dot {
        text-decoration: none;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        margin-bottom: 0.8rem;
        margin-top: 0.8rem;
        margin-right: 0.7rem;
        background-color: #303030;
        list-style-type: none;
    }

    .dot.active {
        background-color: #fff; /* Couleur du point actif en blanc */
        box-shadow: 1px 1px 16px 2px rgba(255, 255, 255, 2);
      }

    .social-icons {
        margin-right: 1rem;
    }

    .presentation {
        /** PLACEMENT **/
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        gap: 5%;
        font-size: x-large;
        margin-top: 2rem;
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .right-part {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .left-part {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: auto;
        font-size: medium;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 3rem;
    }

    .photo {
        width: 15rem;
        height: 30rem;
    }
    
    .qualities {
        /** PLACEMENT **/
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: auto;
        font-size: larger;
        margin-top: 10rem;
        margin-left: 2rem;
        margin-right: 2rem;
        background-color: #fff;
    }
    
    .qualities-list {
        /** PLACEMENT **/
        display: flex;
        flex-direction: column;
        list-style-type : none;
        margin-top: 0;
        margin-bottom: 0;
        border: solid;
        padding-left: 0rem;
        justify-content: space-between;
    }
    
    .qualities-word {
        text-align: center;
        margin-left: 2.5rem;
        margin-top: 2.5rem;
        margin-bottom: 2.5rem;
        margin-right: 2.5rem;
    }
    
    .quality-icon {
        width: 3.75rem;
        height: 3.75rem;
    }


    .project-list {
        /** PLACEMENT **/
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.625rem;
        grid-auto-rows: minmax(6.25rem, auto);
        margin-top: 3.125rem;
        margin-bottom: 5rem;
    }

    .un {
        display: flex;
        justify-content: center;
    }

    .project-pic {
        /* ... (styles existants) ... */
        position: relative; /* Ajouter une position relative pour positionner l'overlay par rapport à cette div */
        background-image: url('/images/image-ville.jpg'); /* Charge une image pour la mettre en fond */
        background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la div */
        background-position: center; /* Centre l'image horizontalement et verticalement */
        height: 30rem; /* Définissez la hauteur de la div selon vos besoins */
        width: 15rem; /* Définissez la largeur de la div selon vos besoins */
        color: #fff; /* Changez la couleur du texte pour qu'elle soit visible sur l'image */
        padding: 1.25rem;
        border-radius: 1.875rem;
        margin-top: 0.938rem;
        filter: drop-shadow(0 0 0.75rem #A9A9A9);
    }

    .footer {
        width: 100%;
        flex-direction: column;
    }

    .btn {
        text-align: center;
        width: 6rem;
        height: 4rem;
    }

}

@media only screen and (min-device-width : 851px) and (max-device-width : 1749px){
    .project-list {
        /** PLACEMENT **/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.625rem;
        grid-auto-rows: minmax(6.25rem, auto);
        margin-top: 3.125rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .un {
        display: flex;
        justify-content: center;
    }

    .project-pic {
        /* ... (styles existants) ... */
        position: relative; /* Ajouter une position relative pour positionner l'overlay par rapport à cette div */
        background-image: url('/images/image-ville.jpg'); /* Charge une image pour la mettre en fond */
        background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la div */
        background-position: center; /* Centre l'image horizontalement et verticalement */
        height: 38.875rem; /* Définissez la hauteur de la div selon vos besoins */
        width: 40vw; /* Définissez la largeur de la div selon vos besoins */
        color: #fff; /* Changez la couleur du texte pour qu'elle soit visible sur l'image */
        padding: 1.25rem;
        border-radius: 1.875rem;
        margin-top: 0.938rem;
        filter: drop-shadow(0 0 0.75rem #A9A9A9);
    }
}

@media only screen and (min-device-width : 1750px) and (max-device-width : 2000px){
    .project-list {
        /** PLACEMENT **/
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.625rem;
        grid-auto-rows: minmax(6.25rem, auto);
        margin-top: 3.125rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .un {
        display: flex;
        justify-content: center;
    }

    .project-pic {
        /* ... (styles existants) ... */
        background-image: url('/images/image-ville.jpg');
        background-size: cover;
        background-position: center;
        height: 38.875rem;
        width: 75%;
        max-width: 400px;
        color: #fff;
        padding: 1.25rem;
        border-radius: 1.875rem;
        margin-top: 0.938rem;
        filter: drop-shadow(0 0 0.75rem #A9A9A9);
    }

}

.project-name {
    display: inline-block;
    background-color: #c175ff;
    border-radius: 0.625rem;
    padding: 0.438rem;
    margin: 0;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1.875rem;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.logo-list {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrez les logos horizontalement */
    align-items: center;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.overlay img {
    width: 10%;
    height: 100%;
    margin: 0.313rem; /* Espacement entre les logos */
}
   
    .project-pic:hover p {
        display: inline-block;
        background-color: #c175ff;
        border-radius: 0.625rem;
        padding: 0.438rem;
        width: auto;
        height: auto;
        margin-top:  18px;
        margin-left:  20px;
    }
    
    .project-pic:hover .project-name {
        visibility: hidden;
    }
    
    .project-pic:hover .overlay {
        opacity: 1;
    }

    .aproposSection {
        font-size: 1.15rem;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 11rem;
        padding-bottom: 11rem;
        margin-top: 11rem;
        margin-bottom: 2rem;
        width: 70%;
        background-color: #9C83F6;
        color: #fff;
    }

    .monParcours {
        position: relative;
        padding: 1.5rem;
        background-color: #9370db;
        box-shadow: #4d4173 -15px 15px 0px 0px;
        z-index: 2;
    }

/*! FOOTER */
/* BOUTON DE CONTACT */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{
font-weight: 900;
font-size: 17px;
color: #fff;
background: linear-gradient(30deg, #0066CC 0%, #c175ff 52%);
padding: 10px 30px;
border: 2px solid #0066cc;
box-shadow: rgb(169, 169, 169) 2px 2px 19px 0px;
border-radius: 12px;
transition : 178ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btn:hover{

transition : 178ms;
padding: 10px 39px;
transform : translateY(-0px);
background: linear-gradient(30deg, #0066CC 0%, #c175ff 52%);
color: #fad625;
border: solid 2px #fad625;
}


.footer {
    /** PLACEMENT **/
    display: flex;
    align-items: center;
    font-size: large;
    justify-content: space-evenly;
}
