html {
    scroll-behavior: smooth;
}

body {
    /** PLACEMENT **/
    background-attachment: fixed; /* Fixe l'image de fond pendant le défilement */
    background-image: url('/images/flat-mountainsLight.svg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow-x : hidden;
    margin: 0;
    padding: 0;
}

/*! BOUTON DARK MODE !*/
.circle-button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #000000; /* Couleur de fond du bouton (soleil) */
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styles pour l'icône */
.icon {
    color: #fff; /* Couleur de l'icône (soleil) */
    transition: transform 0.3s;
    width: 1.5rem;
}

.mini-menu {
    display: none;
}

.menu {
    /** PLACEMENT **/
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 17.438rem;
    padding-left: 0px;

    /** DECORATION **/
    border: solid grey;
    background-color: #F0F0F2;
    border-radius: 2.188rem;
}

.menu-word {
    /** PLACEMENT **/
    margin-right: 0.313rem;
    margin-left: 0.313rem;
    margin-top: 0.313rem;
    margin-bottom: 0.313rem;
    list-style-type : none;
    padding: 0.625rem 0.625rem;
    border-radius: 2.5rem;
}

.accueil.active,
.travaux.active,
.a-propos.active {
    background-color: #c175ff;
}

/*! CHANGEMENTS DU DARK MODE !*/
body.dark {
    background-attachment: fixed; /* Fixe l'image de fond pendant le défilement */
    background-image: url('/images/flat-mountains.svg')!important; /* Charge une image pour la mettre en fond */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #fff!important;
}

    body.dark .icons {
        filter: invert(100%);
    }

    body.dark .gitIcon {
       filter: invert(100%);
    }

    body.dark .bar {
       filter: invert(100%);
    }

    body.dark .header {
        background-color: #050505;
        backdrop-filter: blur(5px);
        color: #fff;
    }

    body.dark .header-fixed {
        color: #fff;
        background-color: #050505;
        backdrop-filter: blur(5px);
        box-shadow: 0px 0px 24px rgba(255, 255, 255, 0.15); /* Facultatif : ajoutez une ombre si nécessaire */
    }

    body.dark .title h2 {
        color: #fff;
    }

    body.dark .menu {
    border: solid #fff;
    background-color: #050505;
    color: #fff;
    }

    body.dark .menu a {
        color: #fff;
    }

    body.dark .circle-button {
        box-shadow: 0px 0px 38px rgba(255, 255, 255, 2);
    }

    body.dark .photo {
        filter: drop-shadow(0 0 0.55rem rgb(255, 255, 255, 2));
    }

    body.dark .qualities {
        position: relative; /* Ajouter une position relative */
        overflow: hidden; /* Empêcher le débordement du pseudo-élément */
    }

    body.dark .qualities::before {
        content: ""; /* Contenu vide nécessaire pour les pseudo-éléments */
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0); /* Couleur de fond de .qualities */
        backdrop-filter: blur(8px); /* Ajouter le filtre de flou au back */
        z-index: -1; /* Assurer que le pseudo-élément est en arrière-plan */
    }


/*! CHANGEMENTS GENERAUX !*/
.main-content {
    position: relative;
    max-width: auto;
}

h2 {
    display: flex;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.photo {
    border-radius: 1.875rem;
    filter: drop-shadow(0 0 0.75rem rgb(4, 4, 4));
    width: 20rem;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 3rem;
    height: 3rem;
}

.favicon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    margin: 0.5rem;
}

.gitIcon {
    width: 2rem;
    height: 2rem;
}

.typo-ar-onesans {
    font-family: 'AR One Sans', sans-serif;
    width: auto;
}

.typoTitres {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;

}

.typoTitreSpeech {
    font-family: 'Anton', sans-serif;
    letter-spacing: 2px;
}

.typoRubik {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Rubik', sans-serif;
}

#titres {
    display: flex;
    justify-content: center;
    font-size: xx-large;
}

/*! LOADER !*/
.loader {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

.dark-background {
    background: #000000; /* Changez la couleur de fond sombre souhaitée ici */
}

.lettre {
    color: #484848;
    font-size: 80px;
    letter-spacing: 15px;
    margin-bottom: 150px;
    animation: flash 1.2s linear infinite;
}
@keyframes flash {
    0% {
        color: #c175ff;
        text-shadow: 0 0 7px #c175ff;
    }
    90% {
        color: #484848;
        text-shadow: none;
    }
    100%{
        color: #c175ff;
        text-shadow: 0 0 7px #c175ff;
    }
}
.lettre:nth-child(1){
    animation-delay: 0.1s;
}
.lettre:nth-child(2){
    animation-delay: 0.2s;
}
.lettre:nth-child(3){
    animation-delay: 0.3s;
}
.lettre:nth-child(4){
    animation-delay: 0.4s;
}
.lettre:nth-child(5){
    animation-delay: 0.5s;
}
.lettre:nth-child(6){
    animation-delay: 0.6s;
}
.lettre:nth-child(7){
    animation-delay: 0.7s;
}
.lettre:nth-child(8){
    animation-delay: 0.8s;
}
.lettre:nth-child(9){
    animation-delay: 0.9s;
}
.lettre:nth-child(10){
    animation-delay: 1s;
}

.fondu-out {
    opacity: 0;
    transition: opacity 0.4s ease-out;
}

/*! HEADER !*/
.header {
    /** PLACEMENT **/
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(240, 240, 240, 0.1);
    backdrop-filter: blur(5px);
    transition: top 1s ease; /* Ajoutez une transition sur la propriété "top" */
    padding-left: 8rem;
    padding-right: 8rem;
}

.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(240, 240, 240, 1);
    box-shadow: 0px 0px 24px rgba(5, 5, 5, 0.15); /* Facultatif : ajoutez une ombre si nécessaire */
    backdrop-filter: blur(5px);
    z-index: 3;
}

.title {
    width: 17.813rem;
    height: auto;
}

.prenom {
    color: #c175ff;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style-type: none;
    gap: 1.5rem;
    padding: 0;
    width: 285px
}

.bouton {
    display: flex;
    justify-content: center;
}

/* Styles pour le menu burger */
.menu-burger {
    display: none;
    cursor: pointer;
}

.menu-burger .bar {
    width: 30px;
    height: 3px;
    background-color: #000000;
    margin: 3.5px;
}

/* Styles pour le dropdown menu */
.dropdown-menu {
    display: none;
    background-color: rgb(229, 229, 233, 0.65); /* Ajoutez ici les autres styles de votre dropdown menu */
    border-radius: 10px;
    padding: 0.5rem 2rem;
    row-gap: 1.5rem;
    width: 5rem;
    /* Ajoutez ici les styles de votre dropdown menu */
}

/* Media query pour les écrans de taille réduite */
@media only screen and (max-width: 1000px) {
    .social-icons {
        display: none; /* Masquer la liste des icônes sociaux */
    }

    .menu-burger {
        display: flex; /* Afficher le menu burger */
        flex-direction: column;
        justify-content: end;
        align-items: end;
        position: relative; /* Assurez-vous que .menu-burger est positionné */
        width: 17.813rem;
    }

    .dropdown-menu.show{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 130%; /* Positionner en dessous de .menu-burger */
        right: -80%; /* Centrer horizontalement */
        transform: translateX(-50%); /* Ajuster pour le centrage horizontal */
    }

    .gitIcon {
        display: flex;
        width: 1rem;
    }

    .dropdown {
        display: flex;
        align-items: flex-end;
    }
}

/*! MAIN */
.left-part {
    width: 500px;

}

.presentation {
    /** PLACEMENT **/
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    gap: 5%;
    font-size: x-large;
    margin-top: 15rem;
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 15rem;
}

/*! MES TECHNOS !*/
.qualities {
    /** PLACEMENT **/
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: auto;
    font-size: larger;
    margin-top: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 10rem;
    row-gap: 1.5rem;
    flex-wrap: wrap; /* Permettre le retour à la ligne */
    font-family: 'Open Sans', sans-serif;
}

.techno {
    font-size: large;
    font-weight: 900;
}

.niveau {
    font-size: small;
}

.methodes {
    display: flex;
    flex-direction: row;
}

.methode {
    font-size: small;
    font-weight: bold;
    padding: 3px;
    border-radius: 5px;
    background-color: rgba(190, 190, 190, 0.65);
}

.image-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: rgba(229, 229, 233, 0.65);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px; /* Espacement entre chaque élément */
}

.image-container {
    flex-basis: calc(33.33% - 4rem); /* Largeur de chaque élément, en tenant compte des marges */
    /* margin: 2rem; /* Espacement entre les éléments */} */

.image-container img {
    width: 100%; /* Assurez-vous que les images remplissent complètement leur conteneur */
}


.info {
    margin: 0.35rem;
}

.logo {
    display: flex;
    flex-direction: row;
}

/*! MES PROJETS */
/* Titre PROJET */
.work-title p {
    font-size: medium;
    margin: 1rem;
}

/* Liste PROJETS */
.project-list {
    /** PLACEMENT **/
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.625rem;
    grid-auto-rows: minmax(6.25rem, auto);
    margin: 1rem;
}

.un {
    display: flex;
    justify-content: center;
}

/* IMAGE PROJETS - Conteneur */
.project-pic {
    /* ... (styles existants) ... */
    position: relative; /* Ajouter une position relative pour positionner l'overlay par rapport à cette div */
    background-image: url('/images/image-ville.jpg'); /* Charge une image pour la mettre en fond */
    background-size: cover; /* Ajuste la taille de l'image pour couvrir toute la div */
    background-position: center; /* Centre l'image horizontalement et verticalement */
    height: 15rem; /* Définissez la hauteur de la div selon vos besoins */
    width: 20rem; /* Définissez la largeur de la div selon vos besoins */
    color: #fff; /* Changez la couleur du texte pour qu'elle soit visible sur l'image */
    padding: 1.25rem;
    border-radius: 1.25rem;
    margin-top: 0.938rem;
    filter: drop-shadow(0 0 0.75rem #A9A9A9);
}

/* IMAGE PROJETS - overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 1.25rem;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

/* IMAGE PROJETS - liste dans l'overlay */
.logo-list {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centrez les logos horizontalement */
    align-items: center;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
}

.overlay img {
    width: 10%;
    height: 100%;
    margin: 0.313rem; /* Espacement entre les logos */
}
   
    .project-pic:hover p {
        display: inline-block;
        background-color: #c175ff;
        border-radius: 0.625rem;
        padding: 0.438rem;
        width: auto;
        height: auto;
        margin-top:  18px;
        margin-left:  20px;
    }
    
    .project-pic:hover .project-name {
        visibility: hidden;
    }
    
    .project-pic:hover .overlay {
        opacity: 1;
    }

/* IMAGE PROJETS - Conteneur */
.work-title { 
    display: flex;
    flex-direction: column;
    font-size: larger;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 8rem;
}

.my-work {
    /** PLACEMENT **/
    justify-content: center;
    font-size: larger;
    margin-top: 6.5rem;
}

@media only screen and (min-width : 0px) and (max-width : 850px){
    .lettre {
        font-size: auto; /* Adjust font size for smaller screens */
        letter-spacing: 6px; /* Adjust letter spacing for smaller screens */
        margin-bottom: 10px; /* Adjusted margin for responsiveness */
    }
    
    .menu {
        display: none;
    }

    .mini-menu {
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
        justify-content: center;
        align-items: end;
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .dot {
        text-decoration: none;
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        margin-bottom: 0.8rem;
        margin-top: 0.8rem;
        margin-right: 0.7rem;
        background-color: #303030;
        list-style-type: none;
    }

    .dot.active {
        background-color: #fff; /* Couleur du point actif en blanc */
        box-shadow: 1px 1px 16px 2px rgba(255, 255, 255, 2);
      }

    .social-icons {
        margin-right: 1rem;
    }

    .presentation {
        /** PLACEMENT **/
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 5%;
        font-size: x-large;
        margin-top: 2rem;
        width: auto;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .right-part {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        margin-bottom: 3rem;
    }

    .left-part {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: auto;
        font-size: medium;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .photo {
        width: 10rem;

    }

    .footer {
        width: 100%;
        flex-direction: column;
    }

    .btn {
        text-align: center;
        width: 6rem;
        height: 4rem;
    }

}

@media only screen and (min-width : 851px) and (max-width : 1199px){
    .project-list {
        /** PLACEMENT **/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.625rem;
        grid-auto-rows: minmax(6.25rem, auto);
        margin-top: 3.125rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .qualities {
        /** PLACEMENT **/
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: auto;
        font-size: larger;
        margin-top: 4rem;
        margin-left: 2rem;
        margin-right: 2rem;
        flex-wrap: wrap; /* Permettre le retour à la ligne */
    }

    .qualities > * {
        min-width: 15rem;
    }
}

@media only screen and (min-width : 1200px) and (max-width : 1749px){
    .project-list {
        /** PLACEMENT **/
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.625rem;
        grid-auto-rows: minmax(6.25rem, auto);
        margin-top: 3.125rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .qualities {
        /** PLACEMENT **/
        display: flex;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: auto;
        font-size: larger;
        margin-top: 4rem;
        margin-left: 2rem;
        margin-right: 2rem;
        flex-wrap: wrap; /* Permettre le retour à la ligne */
    }

    .qualities > * {
        max-width: 20rem;
    }
}

@media only screen and (min-width : 1750px) and (max-width : 2000px){
    .project-list {
        /** PLACEMENT **/
        display: grid;
        width: 100%;
        grid-template-columns: repeat(4, 1fr);
        gap: 0.625rem;
        grid-auto-rows: minmax(6.25rem, auto);
        margin-top: 3.125rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    qualities {
        /** PLACEMENT **/
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-between;
        align-items: center;
        text-align: center;
        width: auto;
        font-size: larger;
        margin-top: 4rem;
        margin-left: 4rem;
        margin-right: 4rem;
        flex-wrap: wrap; /* Permettre le retour à la ligne */
    }


    .qualities > * {
        max-width: 20rem;
    }
}

.project-name {
    display: inline-block;
    background-color: #c175ff;
    border-radius: 0.625rem;
    padding: 0.438rem;
    margin: 0;
}




    .aproposSection {
        font-size: 1.15rem;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 11rem;
        padding-bottom: 11rem;
        margin-top: 11rem;
        margin-bottom: 2rem;
        width: 70%;
        background-color: #9C83F6;
        color: #fff;
    }

    .monParcours {
        position: relative;
        padding: 1.5rem;
        background-color: #9370db;
        box-shadow: #4d4173 -15px 15px 0px 0px;
        z-index: 2;
    }

/*! FOOTER */
/* BOUTON DE CONTACT */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap');

.btn{
font-weight: 900;
font-size: 17px;
color: #fff;
background: linear-gradient(30deg, #0066CC 0%, #c175ff 52%);
padding: 10px 30px;
border: 2px solid #0066cc;
box-shadow: rgb(169, 169, 169) 2px 2px 19px 0px;
border-radius: 12px;
transition : 178ms;
transform: translateY(0);
display: flex;
flex-direction: row;
align-items: center;
cursor: pointer;
}

.btn:hover{
transition : 178ms;
padding: 10px 39px;
transform : translateY(-0px);
background: linear-gradient(30deg, #0066CC 0%, #c175ff 52%);
color: #fad625;
border: solid 2px #fad625;
}


.footer {
    /** PLACEMENT **/
    display: flex;
    align-items: center;
    font-size: large;
    justify-content: space-evenly;
    margin-bottom: 1.5rem;
}
